<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- APP_VERSION: {{version}} -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>CSA Φραγκοφονιάς</title>
    <script type="text/javascript">
      var data = {{data_json|safe}};
    </script>

    <!-- Bootstrap -->
    <link rel="stylesheet"
	  href="{{ url_for('static', filename='css/libs/bootstrap.min.css') }}">
    <link rel="stylesheet"
	  href="{{ url_for('static', filename='css/libs/bootstrap-theme.min.css') }}">
    <link rel="stylesheet"
	  href="{{ url_for('static', filename='css/style.css') }}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
  </head>
  <body>
    <div class="container" id="root-container">
      {% if not is_manager %}
        <h2>Είσαι ο χρήστης <span class="monospace">{{username}}</span> και
      έχεις <span class="monospace">{{user_wallet.amount}}€</span> στο
      πορτοφόλι σου.</h2>
      {% else %}
        {% if week %}
        <h1>Τρέχουσα εβδομάδα: <span class="monospace">{{week[0]}} - {{week[1]}}</a></h1>
        {% endif %}
        <h2>Συνδεδεμένος ως: <strong class="monospace">{{username}} (<a href="/logout">Αποσύνδεση</a>)</strong></h2>
	<h2>Το κουτί πρέπει να έχει μέσα <strong class="monospace">{{'%.2f' % (box_amount|round(1))}}€</strong></h2>
        <ul class="nav nav-tabs">
  	<li role="presentation" class="active"><a href="#deliveries" data-toggle="tab">Παραλαβές</a></li>
  	<li role="presentation" class=""><a href="#orders" data-toggle="tab">Παραγγελείες</a></li>
  	<li role="presentation"><a href="#wallets" data-toggle="tab">Πορτοφόλια</a></li>
        </ul>
        <div class="tab-content">
  	<div role="tabpanel" class="tab-pane active" id="deliveries">
  	  {% if error_message %}
  	  <div id="no-results" class="row vertical-align">
  	    <div class="col-xs-12">
  	      <p class="bg-danger">
  		{{error_message}}
  	      </p>
  	    </div>
  	  </div>
  	  {% else %}
  	  <div id="deliveries-app"></div>
  	  {% endif %}
  	</div>
  	<div role="tabpanel" class="tab-pane" id="orders">
  	  {% if error_message %}
  	  <div id="no-results" class="row vertical-align">
  	    <div class="col-xs-12">
  	      <p class="bg-danger">
  		{{error_message}}
  	      </p>
  	    </div>
  	  </div>
  	  {% else %}
  	  <div id="orders-app"></div>
  	  {% endif %}
  	</div>
  	<div role="tabpanel" class="tab-pane" id="wallets">
  	  <div id="wallets-app"></div>
  	</div>
        </div>
      {% endif %}
    </div>
  </body>
  <script src="{{ url_for('static', filename='js/bundle.js')}}"></script>
</html>
